[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Repository created solely for testing various options on gitbhub
[access "refs/*"]
	owner = group user/waghsamruddhi
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/waghsamruddhi
	label-Verified = -1..+1 group user/waghsamruddhi
	push = group user/waghsamruddhi
	read = group user/waghsamruddhi
	rebase = group user/waghsamruddhi
	removeReviewer = group user/waghsamruddhi
	submit = group user/waghsamruddhi
[access "refs/heads/*"]
	create = group user/waghsamruddhi
	push = +force group user/waghsamruddhi
	pushMerge = group user/waghsamruddhi
	read = group user/waghsamruddhi
[access "refs/tags/*"]
	push = group user/waghsamruddhi
	push = +force group user/waghsamruddhi
